body {
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}

#div1,
#div2,
#div3 {
    display: inline-block;
    margin: auto;
    width: 100%;
    color: aqua;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    height: 150px;
    cursor: pointer;
    background-repeat: no-repeat;
}
